body{
    font-family: Arial, sans-serif;
    background-color: rgba(142, 115, 16, 0.333);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #fcfafc;
    padding: 20px;
    border-radius: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;

}

h1{
    color:#686eec
}

label{
    display:block;
    margin: 10px;

}

input{
    padding: 8px;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

}

botton:hover{
    background-color: #218838;
}

#result{
    margin-top: 20px;
    font-weight: bold;
    color:#555;
}